body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead {
    background-color: #333;
    color: #ffffff;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

tbody td {
    padding: 10px;
}

tbody td button {
    margin: 2px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

tbody td button:nth-child(1) {
    background-color: #333;
    color: white;
}

tbody td button:nth-child(3) {
    background-color: #2196F3;
    color: white;
}


tbody td button:nth-child(4) {
    background-color: red;
    color: white;
}

@media (max-width: 600px) {
    thead {
        display: none;
    }

    tbody, tbody tr, tbody td {
        display: block;
        width: 100%;
    }

    tbody tr {
        margin-bottom: 15px;
    }

    tbody td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}
#volver-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 14%; 
}

#volver-button:hover {
    background-color: #555;
}

h1{
    text-align: center;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
}

footer p {
    margin: 0;
    padding: 10px;
    height: 7px;
}